@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-hue: 176;
  --theme-darkness: 1;

  --header-bg-color: hsl(var(--main-hue), 43%, 44%);

  --content-text-color: hsl(var(--main-hue), 0%, 20%);

  --btn-bg-color: hsl(var(--main-hue), 100%, 90%);
  --btn-hover-bg-color: hsl(var(--main-hue), 100%, 70%);

  filter: brightness(var(--theme-darkness));
}

:root[theme="light"] {
  --main-hue: 176;
  --theme-darkness: 1;

  --header-bg-color: hsl(var(--main-hue), 43%, 44%);

  --content-text-color: hsl(var(--main-hue), 0%, 20%);

  --btn-bg-color: hsl(var(--main-hue), 100%, 90%);
  --btn-hover-bg-color: hsl(var(--main-hue), 100%, 70%);

  filter: brightness(var(--theme-darkness));
}

:root[theme="dark"] {
  --main-hue: 176;
  --theme-darkness: 1;

  --header-bg-color: hsl(var(--main-hue), 100%, 5%);

  --content-text-color: hsl(var(--main-hue), 100%, 90%);

  --btn-bg-color: hsl(var(--main-hue), 100%, 90%);
  --btn-hover-bg-color: hsl(var(--main-hue), 100%, 70%);

  filter: brightness(var(--theme-darkness));
}

:root[theme="backendless"] {
  --main-hue: 176;

  --theme-darkness: 1;

  filter: invert(1) brightness(var(--theme-darkness));
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* header */
header {
  width: inherit;
  height: 70px;
  padding: 0 2%;
  box-sizing: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 5px -5px rgba(34, 60, 80, 0.6);
  background: var(--header-bg-color);
  color: var(--content-text-color);
  position: fixed;
  top: 0;
}

.theme-tab,
.theme-mob {
  display: none;
}

.theme-desk label {
  cursor: pointer;
}

.theme__toggle {
  margin-left: 15px;
  cursor: pointer;
}

/* main */
main {}

/* footer */
footer {
  width: inherit;
  height: 70px;
  padding: 0 2%;
  box-sizing: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -10px 5px -5px rgba(34, 60, 80, 0.6);
  background: var(--header-bg-color);
  color: var(--content-text-color);
  position: fixed;
  bottom: 0;
}

.contacts__site,
.contacts__tel {
  color: var(--content-text-color);
  font-weight: bold;
}

.contacts__tel {
  margin-left: 20px;
}

.social__link {
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.social__link:not(.social__link:nth-child(1)) {
  margin-left: 10px;
}

.social__link--img:hover {
  transform: scale(1.2);
}

.social__link--img {
  width: 20px;
  height: 20px;
}

.social__link--img path {
  fill: var(--content-text-color);
}


@media (max-width: 1079.98px) {

  /* header */
  .theme-desk {
    display: none;
  }

  .theme-tab {
    display: block;
  }

  .theme-tab .theme__toggle {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 8px 5px -5px rgba(34, 60, 80, 0.6);
    background: var(--btn-bg-color);
    transition: .5s linear;
  }

  .theme-tab .theme__toggle:hover {
    background: var(--btn-hover-bg-color);
  }

  .theme-tab .theme__toggle:active {
    transform: translateY(8px);
  }

  /* footer */
  footer {
    height: 140px;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 639.98px) {
  .theme-tab {
    display: none;
  }

  .theme-mob {
    display: block;
  }

  #selectTheme {
    padding: 5px;
    border-radius: 5px;
    background: var(--btn-bg-color);
  }

  #selectTheme option {
    background: var(--btn-bg-color);
  }

  #selectTheme option:checked {
    background: var(--btn-hover-bg-color);
    font-weight: bold;
  }
}